/*шрифти*/
.raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.roboto {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

/* Скидання стилів */
a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

h1, h2, h3, p {
    margin: 0;
}

/* Хедер сторінки */
.logo-dark {
    color: #2e2f42;
}

.logo-light {
    color: #f4f4fd;
}

/* Навігація */
.nav-link {
    font-size: 16px;    
}

.nav-link:hover, .nav-link:focus {
    color: ;
}

/* Контакти */
.contact-link {
    font-size: 16px;    
}

.contact-link:hover, .contact-link:focus {
    color: ;
}

/* Секція-герой */
.hero {
    text-align: center;
}

.hero-title {
    font-weight: 700;   
}

/* Кнопка сайту */
.order-btn {
    font-size: 16px;
}

/* Візуально прихований заголовок */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Заголовок секцій */
.section-title {
    font-weight: 700;
}

/* Секція Features */
.features-text {
    font-size: 16px;    
}

/* Секція Our Team */
.team-title {
   text-align: center;
}

.team-text {
    font-size: 16px;
    text-align: center;
}

/* Секція Portfolio */
.portfolio-text {
    font-size: 16px;
}

/* Футер сторінки */
.footer-text {
    font-size: 16px;
}